# Default ignored files
/shelf/
/.idea/workspace.xml/
/target/
/allure-results/
/allure-report/
/test-output/
/.allure/
/debug.log/
/ExtentReports/
/ExtentReports.html
.settings
.classpath
.project
/.idea/
/.github/workflows/
/.idea/
/video/
/execution-summary/
/extent-reports/
/generate_allure_report.bat/
/PetStore_Api_SHAFT_Engine.iml/